* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  border-spacing: 20px 15px;
  border-width: 0px;
  box-shadow: 1px 1px 10px rgb(145, 144, 144);
}

thead {
  background-color: rgba(10, 10, 10, 0.925);
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  text-align: left;
}

caption {
  margin: 20px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

td {
  padding: 10px;
  border-width: 0px;
  font-size: 15px;
  color: rgb(107, 107, 107);
}

tr {
  border-width: 0px;
}

th {
  border-width: 0;
  /* padding: 2% 5%; */
}
