* {
  margin: 0px;
}

:root {
  --navigation_color-: rgba(1, 119, 119, 0.849);
  --input_and_button_color-: rgba(121, 45, 207, 0.767);
  --default_font-: "Open Sans";
}

#container {
  background-color: rgb(74, 144, 224);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#to_do_List_container {
  width: 400px;
  height: 550px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(66, 66, 66, 0.5),
    -5px -5px 10px rgba(109, 109, 109, 0.548);
}

#to_do_nav {
  width: 100%;
  height: 60px;
  margin-top: 25px;
  background-color: var(--input_and_button_color-);
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav_to_do_text {
  /* background-color: var(--navigation_color-); */
  color: white;
  font-size: 45px;
  font-family: var(--default_font-);
}

#input_to_add_to_do {
  margin-top: 45px;
  margin-left: 50px;
  width: 60%;
  height: 40px;
  border-width: 0px 0px 4px 0px;
  border-color: var(--input_and_button_color-);
  transition: 200ms;
  margin-bottom: 10px;
}
#input_to_add_to_do:focus {
  outline: none;
  border-width: 0px 0px 4px 0px;
  border-color: var(--navigation_color-);
  background-image: linear-gradient(
    rgb(243, 243, 243) 30%,
    rgba(235, 235, 235, 0.767) 50%,
    rgba(179, 179, 179, 0.24) 20%
  );
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(118, 186, 241, 0.856);
}

#input_to_add_to_do:read-write {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  font-family: var(--default_font-);
}

#input_to_add_to_do::placeholder {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
}
#input_to_add_to_do:hover {
  font-size: 26px;
}

#button_plus {
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 30px;
  background-color: var(--input_and_button_color-);
  border-width: 0px;
  cursor: pointer;
  position: relative;
  left: 20px;
  top: 15px;
  transition: 300ms;
}
#button_plus:hover {
  background-color: var(--navigation_color-);
}

#plus_horizontal {
  background-color: white;
  width: 25px;
  height: 5px;
  border-radius: 2px;
  position: absolute;
  left: 29%;
  top: 47%;
}

#plus_vertical {
  background-color: white;
  width: 25px;
  height: 5px;
  border-radius: 2px;
  position: absolute;
  left: 29%;
  top: 47%;
  transform: rotate(90deg);
}
#added_content_container {
  overflow: auto;
  max-height: 340px;
}

.added_to_do_container {
  margin: 20px 10px 10px 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}
.remove_to_do_logo {
  background-color: var(--input_and_button_color-);
  width: 30px;
  height: 30px;
  border-radius: 15px;
  transition: 300ms;
}
.remove_to_do_logo:hover {
  background-color: rgba(165, 13, 13, 0.719);
  cursor: pointer;
}

.remove_to_do_logo_first_comp {
  background-color: white;
  width: 17px;
  height: 4px;
  border-radius: 2px;
  position: relative;
  left: 22%;
  top: 45%;
  transform: rotate(45deg);
}

.remove_to_do_logo_second_comp {
  background-color: white;
  width: 17px;
  height: 4px;
  border-radius: 2px;
  position: relative;
  left: 22%;
  top: 33%;
  transform: rotate(135deg);
}

.added_to_do_text {
  font-size: 25px;
  padding-left: 20px;
  color: var(--input_and_button_color-);
}

@media (max-width: 768px) {
  #to_do_List_container {
    width: 55%;
  }
  #button_plus {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    left: 10px;
    top: 15px;
  }
  #plus_horizontal {
    width: 20px;
    height: 4px;
    left: 24%;
  }

  #plus_vertical {
    width: 20px;
    height: 4px;
    left: 24%;
  }
  #input_to_add_to_do {
    margin-left: 30px;
    width: 50%;
  }

  #input_to_add_to_do:read-write {
    font-size: 15px;
  }

  #input_to_add_to_do::placeholder {
    font-size: 15px;
    letter-spacing: 0px;
  }
  #input_to_add_to_do:hover {
    font-size: 16px;
  }
  #nav_to_do_text {
    font-size: 30px;
    font-family: var(--default_font-);
  }
  #added_content_container {
    overflow: auto;
    max-height: 340px;
  }

  .added_to_do_container {
    margin: 10px 5px 5px 30px;
  }
  .remove_to_do_logo {
    width: 20px;
    height: 20px;
  }

  .remove_to_do_logo_first_comp {
    width: 13px;
    height: 3px;
    left: 19%;
    top: 43%;
  }

  .remove_to_do_logo_second_comp {
    width: 13px;
    height: 3px;
    left: 18%;
    top: 30%;
  }

  .added_to_do_text {
    font-size: 20px;
    padding-left: 10px;
  }
}
