* {
  margin: 0;
  padding: 0;
}

a.active_class {
  border-bottom: red;
  /* font-size: 40px; */
  color: white;
}

.nav_content {
  text-decoration: none;
  color: #6bc1db;
  font-size: 20px;
}

.nav_bar {
  background-color: #121138cf;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.search_bar input {
  border-radius: 3px;
  border-width: 1.5px;
  height: 20px;
}

.search_bar input:focus {
  box-shadow: 0px 0px 5px rgb(163, 161, 161);
}
.search_bar input:read-write {
  padding-left: 10px;
}

.search_img {
  width: 400px;
  height: 300px;
}
.search_img_div {
  display: flex;
  justify-content: center;
}
