* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  background-color: #d2dbdd;
}

div {
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 45%;
}

h1 {
  font-size: 40px;
  text-align: center;
}

button {
  /* padding: 15px 20px; */
  width: 140px;
  height: 70px;
  background-color: #9b59b6;
  color: white;
  border: 2px solid #ecf0f1;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 7px 7px 15px rgb(85, 85, 85), -1px -1px 10px rgb(214, 214, 214);
  transition: 30ms;
}

button:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 15px rgb(85, 85, 85), 0px 0px 5px rgb(214, 214, 214);
}
